{{ define "quiz/quiz.tmpl"}}
    <!DOCTYPE html>
    <html lang="zh">
    <head>
        <meta charset="utf-8">
        <title>{{ .title }}</title>
        <style>
            .center {
                padding: 70px 0;
                border: 3px solid green;
                text-align: center;
            }
        </style>
    </head>
    <body>
    <div class="center">
        <p>{{ .message }}</p>
    </div>

    </body>
    </html>
{{ end }}